body {
  background: url(../public/background.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.weather-box {
  border: 3px solid #fff;
  /* background: #fff; */
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
}

.weather-box h2 {
  font-size: 25px;
  margin-top: 10px;
}
.weather-box h3 {
  font-size: 20px;
}

.selected-btn {
  background-color: #36d7b7 !important;
  color: white !important;
  border: 2px solid #2bada8;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.btn-wrap {
  display: flex;
  gap: 12px;
  width: 650px;
}

.btn-wrap button {
  flex: 1;
}

@media (max-width: 500px) {
  .btn-wrap {
    width: 100%;
  }
}